
<h1>TP1 - Dom - Exo1</h1>
<div class="container my-5">
<app-card title="Titre : Exo 1"  subtitle="mon sous titre" description="ma description" link="http://google.com"></app-card>
</div>
<div>__________________________________</div>

<h1>TP1 - Dom - Exo2</h1>
<div class="container my-5">
<app-table></app-table>
</div>
<div>__________________________________</div>

<h1>TP1 - Dom - Exo3</h1>
<div class="container my-5">
<app-increment></app-increment>
</div>
<div>__________________________________</div>

<h1>TP1 - Dom - Exo4</h1>
<div class="container my-5">
<app-animal-card></app-animal-card>
</div>

<div>__________________________________</div>

<h1>TP1 - Dom - Exo5,6,7,8</h1>
<div class="container my-5">
<app-cars></app-cars>
</div>

<div>__________________________________</div>

