
<section class="container d-flex justify-content-around">
<app-card-animal [imgSrc]="animals[0].imgSrc" [name]="animals[0].name" [noise]="animals[0].noise"></app-card-animal>
<app-card-animal [imgSrc]="animals[1].imgSrc" [name]="animals[1].name" [noise]="animals[1].noise"></app-card-animal>
<app-card-animal [imgSrc]="animals[2].imgSrc" [name]="animals[2].name" [noise]="animals[2].noise"></app-card-animal>
<app-card-animal [imgSrc]="animals[3].imgSrc" [name]="animals[3].name" [noise]="animals[3].noise"></app-card-animal>
<app-card-animal [imgSrc]="animals[4].imgSrc" [name]="animals[4].name" [noise]="animals[4].noise"></app-card-animal>
<app-card-animal [imgSrc]="animals[5].imgSrc" [name]="animals[5].name" [noise]="animals[5].noise"></app-card-animal>
<app-card-animal [imgSrc]="animals[6].imgSrc" [name]="animals[6].name" [noise]="animals[6].noise"></app-card-animal>
</section>
